@model TodoListVM.TodoItemVM

@{
    string bgcolor = "inherit";
    if (Model.Status != 2)
    {
        if (Model.DaysToDeadline < 0)
            bgcolor = "rgba(255, 0, 0, 0.5)";
        else if (Model.DaysToDeadline < 1)
            bgcolor = "rgba(255, 255, 0, 0.5)";
        else
            bgcolor = "inherit";
    }


    string color = "black";
    if (Model.Category == "Work")
        color = "red";
    else if (Model.Category == "Personal")
        color = "blue";
    else if (Model.Category == "Other")
        color = "yellow";
}

<a asp-controller="Todo" asp-action="Edit" asp-route-id="@Model.Id" data-id="@Model.Id" class="text-decoration-none text-reset issue">
    <div class="row justify-content-between m-1 p-2 border rounded bg-white">
        <p class="col-5 ps-3 pe-0 m-0 vertical-line-@color ">@Model.Name</p>
        <p class="col-5 p-0 m-0 text-end" style="background-color: @bgcolor">@Model.Deadline.ToString("MM/dd/yyyy HH:mm")</p>
    </div>
</a>
