@model CalculateVM

@{
    ViewData["Title"] = "Calculate";
}


<div class="container mt-4 mb-4 bg-white rounded">
    <h1 class="text-center pt-4">Compound Interest Calculator</h1>

    <form asp-action="Calculate">
        <div>
            <label asp-for="Principal" class="label-with-icon" data-bs-toggle="tooltip" title="The initial amount of money you invest">Principal <i class="bi bi-question-circle"></i></label>
            <input type="number" class="form-control" asp-for="Principal" step="0.01" />
        </div>
        <div>
            <label asp-for="MonthlyContribution" class="label-with-icon" data-bs-toggle="tooltip" title="The amount of money you will invest every month">Monthly Contribution <i class="bi bi-question-circle"></i></label>
            <input type="number" class="form-control" asp-for="MonthlyContribution" step="0.01" />
        </div>
        <div>
            <label asp-for="Rate" class="label-with-icon" data-bs-toggle="tooltip" title="The annual interest rate you expect to earn on your investment">Rate <i class="bi bi-question-circle"></i></label>
            <input type="number" class="form-control" asp-for="Rate" step="0.01" />
        </div>
        <div>
            <label asp-for="Years" class="label-with-icon" data-bs-toggle="tooltip" title="The number of years you plan to invest">Years <i class="bi bi-question-circle"></i></label>
            <input type="number" class="form-control" asp-for="Years" step="1" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Calculate</button>
    </form>

    @if (Model.Results != null && Model.Results.Any())
    {
        <h2 class="text-center mt-4">Compound Interest Results:</h2>
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>@Model.Results[0].Year</th>
                        <th>@Model.Results[0].Contribution</th>
                        <th>@Model.Results[0].Interest</th>
                        <th>@Model.Results[0].Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Year</td>
                            <td>@result.Contribution.ToString("C")</td>
                            <td>@result.Interest.ToString("C")</td>
                            <td>@result.Amount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section endOfBody{
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    </script>
}
