@model _PredictionCalculatorVM

<h1 class="through">Compound Interest Calculator</h1>

<form asp-action="PredictionCalculator">
    <partial name="Compound/_CompoundCalculatorInput" model="@(new _CompoundCalculatorInputVM{Name = "Principal", Value=(int)Model.Principal, Title = "Principal Amount" ,Description = "The initial amount of money you invest"})" />
    <partial name="Compound/_CompoundCalculatorInput" model="@(new _CompoundCalculatorInputVM{Name = "MonthlyContribution",Value=(int)Model.MonthlyContribution, Title = "Monthly Contribution" ,Description = "The amount of money you will invest every month"})" />
    <partial name="Compound/_CompoundCalculatorInput" model="@(new _CompoundCalculatorInputVM{Name = "Rate",Value=(int)Model.Rate, Title = "Annual interest rate (%)" ,Description = "The annual interest rate you expect to earn on your investment"})" />
    <partial name="Compound/_CompoundCalculatorInput" model="@(new _CompoundCalculatorInputVM{Name = "Years",Value=Model.Years, Title = "Number of years" ,Description = "The number of years you plan to invest"})" />
    <button type="submit" class="btn btn-primary mt-3">Calculate</button>
</form>

@if (Model.Results != null && Model.Results.Any())
{
    <h2 class="text-center mt-4">Compound Interest Results:</h2>
    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Total contribution</th>
                    <th>Interest this year</th>
                    <th>End Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.Results)
                {
                    <tr>
                        <td>@result.Year</td>
                        <td>@result.Contribution.ToString("C")</td>
                        <td>@result.Interest.ToString("C")</td>
                        <td>@result.Amount.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}