@model TodoListVM

@{
    ViewData["Title"] = "List";
    Layout = "_FunctionPage";
}

<div class="container mt-4 bg-white rounded">
    <h1 class="through">TODO's</h1>
    <div class="container">
        <form asp-controller="Todo" asp-action="Create">
            <div class="row">
                <div class="form-floating mb-2 mb-lg-0 col-lg-4">
                    <input asp-for="NewTodoItem" class="form-control" autofocus />
                    <label asp-for="NewTodoItem"></label>
                    <span asp-validation-for="NewTodoItem" class="text-danger"></span>
                    <span class="text-danger">@TempData["Message"]</span>
                </div>
                <div class="form-floating mb-2 mb-lg-0 col-lg-4">
                    <input asp-for="NewDeadline" class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" />
                    <label asp-for="NewDeadline"></label>
                    <span asp-validation-for="NewDeadline" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2 mb-lg-0 col-lg-4">
                    <select asp-for="NewCategory" class="form-select">
                        <option value="">Select a category</option>
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                        <option value="Other">Other</option>
                    </select>
                    <label asp-for="NewCategory"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add</button>
        </form>
    </div>
    @*<div class="container todo-list my-4 rounded">
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>
    Todo:
    <form asp-controller="Todo" asp-action="Sort" class="d-lg-inline" id="sortForm">
    <i class="bi bi-caret-up-fill ms-1" type="submit" onclick="subForm('DescendingName')"></i>
    </form>
    <form asp-controller="Todo" asp-action="Sort" class="d-lg-inline" id="sortForm">
    <i class="bi bi-caret-down-fill" type="submit" onclick="subForm('AscendingName')"></i>
    </form>
    </th>
    <th>
    Deadline:
    <form asp-controller="Todo" asp-action="Sort" class="d-lg-inline" id="sortForm">
    <i class="bi bi-caret-up-fill ms-1" type="submit" onclick="subForm('DescendingDate')"></i>
    </form>
    <form asp-controller="Todo" asp-action="Sort" class="d-lg-inline" id="sortForm">
    <i class="bi bi-caret-down-fill" type="submit" onclick="subForm('AscendingDate')"></i>
    </form>
    </th>
    <th>Category:</th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Todos)
    {
    string bgcolor;
    if (item.DaysToDeadline < 0)
    bgcolor = "rgba(255, 0, 0, 0.5)";
    else if (item.DaysToDeadline < 1)
    bgcolor = "rgba(255, 255, 0, 0.5)";
    else
    bgcolor = "inherit";


    <tr style="background-color: @bgcolor">
    <td class="w-50">@item.Name</td> <!-- modified to display Name property -->
    <td class="w-25">@item.Deadline.ToString("MM/dd/yyyy HH:mm")</td> <!-- added column to display Deadline property -->
    <td>@item.Category</td>
    <td>
    <a asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm ms-2">Edit</a>
    </td>
    <td>
    <form asp-controller="Todo" asp-action="Delete" asp-route-id="@item.Id">
    <button type="submit" class="btn btn-danger btn-sm ms-2">Remove</button>
    </form>
    </td>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>*@
    <div class="container mt-5">
        <div class="row kanban-container">
            <div class="col-lg-4 my-2">
                <div class="status-card card">
                    <p class="ms-2 mt-1">TO DO</p>
                    <div class="sortable-container">
                        @foreach (var item in Model.Todos)
                        {
                            string bgcolor;
                            if (item.DaysToDeadline < 0)
                                bgcolor = "rgba(255, 0, 0, 0.5)";
                            else if (item.DaysToDeadline < 1)
                                bgcolor = "rgba(255, 255, 0, 0.5)";
                            else
                                bgcolor = "inherit";

                            string color = "black";
                            if (item.Category == "Work")
                                color = "red";
                            else if (item.Category == "Personal")
                                color = "blue";
                            else if (item.Category == "Other")
                                color = "yellow";

                            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" data-id="@item.Id" class="text-decoration-none text-reset issue">
                                <div class=" row justify-content-between m-1 p-2 border rounded bg-white">
                                    <p class="col-5 ps-3 pe-0 m-0 vertical-line-@color ">@item.Name</p>
                                    <p class="col-5 p-0 m-0 text-end" style="background-color: @bgcolor">@item.Deadline.ToString("MM/dd/yyyy HH:mm")</p>
                                </div>
                            </a>
                        }
                    </div>

                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="status-card card">
                    <p class="ms-2 mt-1">IN PROGRESS</p>
                    <div class="sortable-container">
                        @foreach (var item in Model.InProgress)
                        {
                            string bgcolor;
                            if (item.DaysToDeadline < 0)
                                bgcolor = "rgba(255, 0, 0, 0.5)";
                            else if (item.DaysToDeadline < 1)
                                bgcolor = "rgba(255, 255, 0, 0.5)";
                            else
                                bgcolor = "inherit";

                            string color = "black";
                            if (item.Category == "Work")
                                color = "red";
                            else if (item.Category == "Personal")
                                color = "blue";
                            else if (item.Category == "Other")
                                color = "yellow";

                            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" data-id="@item.Id" class="text-decoration-none text-reset issue">
                                <div class=" row justify-content-between m-1 p-2 border rounded bg-white">
                                    <p class="col-5 ps-3 pe-0 m-0 vertical-line-@color ">@item.Name</p>
                                    <p class="col-5 p-0 m-0 text-end" style="background-color: @bgcolor">@item.Deadline.ToString("MM/dd/yyyy HH:mm")</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="status-card card">
                    <p class="ms-2 mt-1">DONE</p>
                    <div class="sortable-container">
                        @foreach (var item in Model.Done)
                        {
                            string color = "black";
                            if (item.Category == "Work")
                                color = "red";
                            else if (item.Category == "Personal")
                                color = "blue";
                            else if (item.Category == "Other")
                                color = "yellow";

                            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@item.Id" data-id="@item.Id" class="text-decoration-none text-reset issue">
                                <div class=" row justify-content-between m-1 p-2 border rounded bg-white">
                                    <p class="col-5 ps-3 pe-0 m-0 vertical-line-@color ">@item.Name</p>
                                    <p class="col-5 p-0 m-0 text-end">@item.Deadline.ToString("MM/dd/yyyy HH:mm")</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section EndOfBody{
    <script>
        function subForm(sortOrder) {
            // Get a reference to the form element by its name
            const form = document.forms["sortForm"];

            // Create a new FormData object from the form element
            const formData = new FormData(form);

            // Set the value of the sort order input element using the set() method of the FormData object
            // The first parameter is the name of the input element, and the second parameter is the value you want to set
            formData.set("sortOrder", sortOrder);

            // Send an HTTP request to the server using the fetch() method
            fetch(form.action, {
                // Specify the HTTP method and request body in the options object
                method: form.method,
                body: formData
            }).then(response => {
                // Handle the response from the server
                if (response.ok) {
                    // If the response is successful, reload the page
                    window.location.reload();
                } else {
                    // If the response is not successful, log an error message to the console
                    console.error('Error submitting form');
                }
            });
        }



        $(function () {
            


            $('.sortable-container').sortable({
                connectWith: '.sortable-container',
                update: function (event, ui) {
                    var issue = $(ui.item);
                    var newStatus = issue.parent().parent().data('status');
                    var issueId = issue.data('id');
                    console.log(issue.data('id'))

                    //// Use Ajax to update the issue's status property
                    //$.ajax({
                    //    type: 'POST',
                    //    url: '/Issues/UpdateStatus',
                    //    data: {
                    //        id: issueId,
                    //        status: newStatus
                    //    }
                    //});
                },
                appendTo: 'body',
            });
        });
    </script>

    }
