@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <h1 class="through">Welcome @User.Identity.Name</h1>
    <div class="row mt-5">
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/budget.png", Title = "Budgets", Controller = "Budget", Action = "Budgets", FunctionName = "Budgets", Description="Welcome to our Budget Tracker! With our easy-to-use view, you can create and store budgets to efficiently manage your finances. Stay organized and make informed financial decisions with our user-friendly Budget Tracker. Take control of your finances today!"})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/investment.png", Title = "Investments", Controller = "Investment", Action = "Investments", FunctionName = "Investments", Description="Our Investments Tracker is a tool that lets you easily keep track of all your current investments. With forecasting capabilities, you can make informed decisions about your portfolio's potential. Whether you're an experienced investor or just getting started, our tool is designed to help you achieve your financial goals."})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/compound.png", Title = "Compound Interest Calculator", Controller = "Compound", Action = "Calculate", FunctionName = "Compound Interest Calculator", Description="Welcome to our Compound Interest Calculator! Our powerful tool allows you to effortlessly calculate the growth of your investments over time. With easy-to-use inputs, you can quickly determine how much your savings or investments could grow with the power of compound interest!"})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/Todo.png", Title = "Todo List", Controller = "Todo", Action = "TodoList", FunctionName = "Todo List", Description="Introducing our powerful Todo List function! Keep track of all your tasks and goals in one convenient location. With our user-friendly interface, you can easily add and delete your tasks. Never forget a crucial task again. Start using our Todo List function today and increase your productivity like never before!"})"></partial>
        </div>
    </div>
</div>

@section EndOfBody{
    <script>
        // Get all the card footers
        const cardFooters = document.querySelectorAll('.card-footer-height');

        // Get the height of the tallest card footer
        let maxHeight = 0;
        cardFooters.forEach((cardFooter) => {
            const height = cardFooter.clientHeight;
            maxHeight = Math.max(maxHeight, height);
        });

        // Set the height of all the card footers to match the tallest one
        cardFooters.forEach((cardFooter) => {
            cardFooter.style.height = maxHeight + 'px';
        });
    </script>
}