@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <h1 class="through">Welcome @User.Identity.Name</h1>
    <div class="row mt-5">
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/budget.png", Title = "Budgets", Controller = "Budget", Action = "Budgets", FunctionName = "Budgets", Description="Welcome to our Budget Tracker! With our easy-to-use view, you can create and store budgets to efficiently manage your finances. Stay organized and make informed financial decisions with our user-friendly Budget Tracker. Take control of your finances today!"})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/investment.png", Title = "Investments", Controller = "Investment", Action = "Investments", FunctionName = "Investments", Description="Yet to be implemented"})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/compound.png", Title = "Compound Interest Calculator", Controller = "Compound", Action = "Calculate", FunctionName = "Compound Interest Calculator", Description="Welcome to our Compound Interest Calculator! Our powerful tool allows you to effortlessly calculate the growth of your investments over time. With easy-to-use inputs, you can quickly determine how much your savings or investments could grow with the power of compound interest!"})"></partial>
        </div>
        <div class="col-lg-3 d-flex">
            <partial name="_FunctionCard" model="@(new _FunctionCardVM{Image = "/images/Todo.png", Title = "Todo List", Controller = "Todo", Action = "TodoList", FunctionName = "Todo List", Description="Introducing our powerful Todo List function! Keep track of all your tasks and goals in one convenient location. With our user-friendly interface, you can easily add and delete your tasks. Never forget a crucial task again. Start using our Todo List function today and increase your productivity like never before!"})"></partial>
        </div>
    </div>
    <div class="message">
        <p>
            <br />
            Dear Potential Employers,<br /><br />

            I am excited to share with you my latest project,
            a website that I have been diligently working on since April 15th, 2023.
            While the website is still a work in progress,
            I am proud of the progress I have made and wanted to give you a sneak peek of what's to come.
            The website is a true labor of love, as I have poured my creativity and skills into every aspect of its development.
            From the sleek design  to the interactive features,
            I have strived to create a user-friendly and visually appealing experience for visitors.

            <br /><br />
            As I continue to fine-tune and add new content,
            I am confident that this website will be a showcase of my abilities and dedication to my craft.
            I am excited to share the final product with you in the near future and demonstrate how my skills and
            passion can add value to your team.
            Thank you for considering my work-in-progress website as a representation of my abilities and potential as a
            valuable asset to your organization.

            <br /><br />
            Sincerely,
            <br />
            Sebastian Fredriksson
        </p>
    </div>
</div>

@section EndOfBody{
    <script>
        // Get all the card footers
        const cardFooters = document.querySelectorAll('.card-footer-height');

        // Get the height of the tallest card footer
        let maxHeight = 0;
        cardFooters.forEach((cardFooter) => {
            const height = cardFooter.clientHeight;
            maxHeight = Math.max(maxHeight, height);
        });

        // Set the height of all the card footers to match the tallest one
        cardFooters.forEach((cardFooter) => {
            cardFooter.style.height = maxHeight + 'px';
        });
    </script>
}