@model BudgetDetailsVM

@{
    ViewData["Title"] = "BudgetDetails";
    Layout = "_FunctionPage";
    // TODO: Add checkbox if expense if active (at the moment, you might want to bing it back in the future and therefor not remove it)
    // TODO: Add sorting to the table
}
<div class="container mt-4 bg-white rounded">
    <div class=" d-flex justify-content-between align-items-center">
        <h1 class="my-0">Budget Details</h1>
        <a asp-action="Budgets" style="text-decoration: none;">Back to budgets</a>
    </div>
    <hr class="my-1" />
    <div class="row my-4">
        <div class="col-xxl-4 d-flex flex-column justify-content-xxl-center">
            <div class="row my-4">
                <div class="d-md-flex">
                    <p class="m-0 align-self-center"><strong>Budget Name:</strong> @Model.Name</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="d-md-flex">
                    <p class="m-0 align-self-center"><strong>Total Amount:</strong> @Model.TotalAmount.ToString("C")</p>
                </div>
            </div>
        </div>
        <div class="col-xxl-8 chart-container">
            <canvas style="height: 100%" id="myChart"></canvas>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Expenses</h2>
            @if (Model.Expenses != null && Model.Expenses.Length > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Expense Name</th>
                            <th>Amount</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Model.Expenses)
                        {
                            <tr>
                                <td style="width: 33%">@expense.Name</td>
                                <td style="width: 33%">@expense.Amount.ToString("C")</td>
                                <td style="width: 33%">@expense.Category</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No expenses found.</p>
            }
        </div>
    </div>
    <a asp-action="EditBudget" asp-route-id="@Model.Id" class="btn btn-warning mx-2">Edit Budget</a>
</div>

@section EndOfBody {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.Categories)),
                    datasets: [{
                        label: 'Total Amount',
                        data: @Html.Raw(Json.Serialize(Model.CategoryAmounts)),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)',    // Housing
                            'rgba(54, 162, 235, 0.7)',    // Transportation
                            'rgba(75, 192, 192, 0.7)',    // Food
                            'rgba(255, 205, 86, 0.7)',    // Utilities
                            'rgba(153, 102, 255, 0.7)',   // Health and Fitness
                            'rgba(255, 159, 64, 0.7)',    // Entertainment
                            'rgba(255, 99, 32, 0.7)',     // Personal Care
                            'rgba(128, 0, 128, 0.7)',     // Education
                            'rgba(60, 179, 113, 0.7)',    // Savings
                            'rgba(0, 128, 128, 0.7)',     // Others
                            'rgba(192, 192, 192, 0.7)'    // Uncategorized
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: false, // Disable maintaining aspect ratio
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Category Amounts"
                    }
                }
            });
        });
    </script>


}