@model BudgetsVM

@{
    ViewData["Title"] = "Budgets";
}
<div class="container mt-4 bg-white rounded">
    <h1>Budgets</h1>

    <a asp-action="CreateBudget" class="btn btn-primary mb-3">Create new budget</a>
    @if (Model.Budgets.Length > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="w-50">Name</th>
                    <th class="w-25">Total Amount</th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var budget in Model.Budgets)
                {
                    <tr>
                        <td class="align-middle">@budget.Name</td>
                        <td class="align-middle">@budget.TotalAmount</td>
                        <td><a asp-action="BudgetDetails" asp-route-id="@budget.Id" class="btn btn-info">Details</a></td>
                        <td>
                            <a asp-action="EditBudget" asp-route-id="@budget.Id" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form asp-action="RemoveBudget" asp-route-id="@budget.Id" onsubmit="return confirm('Are you sure you want to delete this budget?');">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No budgets found.</p>
    }
</div>